
@{
    ViewBag.Title = "error";
}

<hgroup>
    <h3>Error Occured </h3>
    <h5 class="alert alert-danger">An unknown error occurred while processing your request.</h5>
</hgroup>
<br />
<br />
<h6>@Html.ActionLink("Go Back To Home Page", "Index", "Home",new { area="Common"})</h6>
